# Go compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Frontend build output
dist/
*.tsbuildinfo

# Go workspace file
go.work
go.work.sum

# Node
node_modules/
npm-debug.log*
.pnpm-debug.log*

# Turborepo
.turbo/

# Storybook
*storybook.log

# Env & secrets
.env
.env.*
!.env.example
!.env.*.example
*.pem
*.key

# Misc
.DS_Store
